@import '_variables';
@import '_mixins';

.header {

    background-color: $primary-color;
    display: flex;
    justify-content: center;
    font-size: 0.625rem;

    @include mq(tablet-large) {
        justify-content: flex-end;
    }

    &__form {
        margin: 50px;
    }

    &__input {
        height: 40px;
        border-radius: 20px;
        padding: 10px 20px;
        border: 2px solid $secondary-color;
        font-size: 1.8em;
        background-color: inherit;

        &:focus {
            outline: none;
        }
    }
}