.header {

    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    font-size: 0.625rem;
    font-family: 'Poppins', sans-serif;

    @include mq(tablet-large) {
        justify-content: flex-end;
    }

    &__form {
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        height: 40px;
        border-radius: 20px;
        padding: 10px 20px;
        border: 2px solid $primary-color;
        font-size: 1.8em;
        background-color: inherit;
        color: #ddd;

        &:focus {
            outline: none;
        }

    }

    &__button {
        margin-top: 50px;
        width: 50%;
        font-size: 1.6em;
        background-color: royalblue;
        color: #ddd;
        padding: 5px;
        border: none;
        border-radius: 5px;
        outline: none;
        transition: .3s;

        &:hover {
            color: royalblue;
            background-color: #ddd;
        }
    }
}