.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    gap: 20px;
    justify-items: center;

    .movie {
        position: relative;
        width: 250px;
        height: 265px;
        overflow: hidden;
        background-color: $secondary-color;
        transition: .3s ease-in;


        &__image {
            max-width: 100%;
        }

        &__info {
            display: flex;
            padding: 10px;
            color: #ddd;
            justify-content: space-between;
        }

        &__title {
            font-size: 1.8em;
            font-weight: 400;
        }

        &__rate {
            background-color: $primary-color;
            padding: 5px 10px;
            font-size: 1.6em;
            font-weight: 300;
        }

        &__description {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-weight: 200;
            font-size: 1.4em;
            text-align: justify;
            padding: 20px 0;
            line-height: 150%;
            transform: translateY(101%);
            background-color: $primary-color;
            color: #ddd;
            transition: .3s ease-in;
        }


    }

    .movie:hover {
        height: 400px;
    }

    .movie:hover .movie__description {
        transform: (translateY(0));

    }

}