<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find movie</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <form class="header__form" action="">
            <input class="header__input" type="text" placeholder="Search and press enter">
        </form>
    </header>
    <main class="main">
        <section class="movies">
            <div class="movie">
                <img class="movie__image"
                    src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80"
                    alt="test photo">
                <div class="movie__info">
                    <p class="movie__title">Movie title</p>
                    <span class="movie__rate">8.5</span>
                </div>
                <p class="movie__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ducimus esse, ipsa dolores, inventore
                    exercitationem illo laboriosam explicabo aliquid saepe repellat rerum accusamus numquam totam eum
                    aperiam sequi dolorum atque cumque praesentium! Sequi cum magni similique eum est incidunt corporis
                    enim omnis eveniet doloremque quibusdam tenetur ipsam voluptatibus, praesentium, voluptates nostrum
                    quas ex id? Quia sunt non inventore adipisci quasi.
                </p>


            </div>
            <div class="movie">
                <img class="movie__image"
                    src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80"
                    alt="test photo">
                <div class="movie__info">
                    <p class="movie__title">Movie title</p>
                    <span class="movie__rate">8.5</span>
                </div>
                <p class="movie__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam
                    velit in sunt? Excepturi
                    magni rerum temporibus. Distinctio, delectus hic!</p>


            </div>
            <div class="movie">
                <img class="movie__image"
                    src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80"
                    alt="test photo">
                <div class="movie__info">
                    <p class="movie__title">Movie title</p>
                    <span class="movie__rate">8.5</span>
                </div>
                <p class="movie__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam
                    velit in sunt? Excepturi
                    magni rerum temporibus. Distinctio, delectus hic!</p>
            </div>

        </section>
    </main>
</body>

</html>