<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find movie</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header class="header">
        <form type="submit" class="header__form">
            <input required class="header__input" type="text" placeholder="Search and press enter">
            <button class="header__button">enter</button>
        </form>
    </header>
    <main class="main">
        <section class="movies">

        </section>
    </main>
</body>

</html>